# Parkinson Data

Website: https://zenodo.org/record/2867216#.X5n430dxfD5


## Notebook for Construction of Training and Testing for the IMFs 

Equivalent procedure used on the raw data applied to the IMFs

In [1]:
import numpy as np
import os as os
from pathlib import Path
import matplotlib.pyplot as plt
import time
import random
import pandas as pd
import pickle
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
pandas2ri.activate()
import math

In [2]:
X_tr_IMFs_hc_m = np.load ( 'C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\IMFs_train_test_DOITAGAIN\\IMFs_train_5_hc_m.npy')
X_tr_IMFs_pd_m = np.load ('C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\IMFs_train_test_DOITAGAIN\\IMFs_train_5_pd_m.npy')

X_tr_IMFs_hc_f = np.load ( 'C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\IMFs_train_test_DOITAGAIN\\IMFs_train_5_hc_f.npy')
X_tr_IMFs_pd_f = np.load ('C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\IMFs_train_test_DOITAGAIN\\IMFs_train_5_pd_f.npy')

In [3]:
len(X_tr_IMFs_hc_m)

1732

In [4]:
len(X_tr_IMFs_pd_m)

7994

In [5]:
len(X_tr_IMFs_hc_f)

15479

In [6]:
len(X_tr_IMFs_pd_f)

2752

In [3]:
X_imf1_pd_f = [X_tr_IMFs_pd_f[i][:,0] for i in range(0,len(X_tr_IMFs_pd_f))]
X_imf2_pd_f = [X_tr_IMFs_pd_f[i][:,1] for i in range(0,len(X_tr_IMFs_pd_f))]
X_imf3_pd_f = [X_tr_IMFs_pd_f[i][:,2] for i in range(0,len(X_tr_IMFs_pd_f))]
X_imf4_pd_f = [X_tr_IMFs_pd_f[i][:,3] for i in range(0,len(X_tr_IMFs_pd_f))]
X_imf5_pd_f = [X_tr_IMFs_pd_f[i][:,4] for i in range(0,len(X_tr_IMFs_pd_f))]

X_IMF_pd_f = [X_imf1_pd_f,X_imf2_pd_f,X_imf3_pd_f,X_imf4_pd_f,X_imf5_pd_f]

In [4]:
X_imf1_pd_m = [X_tr_IMFs_pd_m[i][:,0] for i in range(0,len(X_tr_IMFs_pd_m))]
X_imf2_pd_m = [X_tr_IMFs_pd_m[i][:,1] for i in range(0,len(X_tr_IMFs_pd_m))]
X_imf3_pd_m = [X_tr_IMFs_pd_m[i][:,2] for i in range(0,len(X_tr_IMFs_pd_m))]
X_imf4_pd_m = [X_tr_IMFs_pd_m[i][:,3] for i in range(0,len(X_tr_IMFs_pd_m))]
X_imf5_pd_m = [X_tr_IMFs_pd_m[i][:,4] for i in range(0,len(X_tr_IMFs_pd_m))]

X_IMF_pd_m = [X_imf1_pd_m,X_imf2_pd_m,X_imf3_pd_m,X_imf4_pd_m,X_imf5_pd_m]

In [5]:
X_imf1_hc_f = [X_tr_IMFs_hc_f[i][:,0] for i in range(0,len(X_tr_IMFs_hc_f))]
X_imf2_hc_f = [X_tr_IMFs_hc_f[i][:,1] for i in range(0,len(X_tr_IMFs_hc_f))]
X_imf3_hc_f = [X_tr_IMFs_hc_f[i][:,2] for i in range(0,len(X_tr_IMFs_hc_f))]
X_imf4_hc_f = [X_tr_IMFs_hc_f[i][:,3] for i in range(0,len(X_tr_IMFs_hc_f))]
X_imf5_hc_f = [X_tr_IMFs_hc_f[i][:,4] for i in range(0,len(X_tr_IMFs_hc_f))]

X_IMF_hc_f = [X_imf1_hc_f,X_imf2_hc_f,X_imf3_hc_f,X_imf4_hc_f,X_imf5_hc_f]

In [6]:
X_imf1_hc_m = [X_tr_IMFs_hc_m[i][:,0] for i in range(0,len(X_tr_IMFs_hc_m))]
X_imf2_hc_m = [X_tr_IMFs_hc_m[i][:,1] for i in range(0,len(X_tr_IMFs_hc_m))]
X_imf3_hc_m = [X_tr_IMFs_hc_m[i][:,2] for i in range(0,len(X_tr_IMFs_hc_m))]
X_imf4_hc_m = [X_tr_IMFs_hc_m[i][:,3] for i in range(0,len(X_tr_IMFs_hc_m))]
X_imf5_hc_m = [X_tr_IMFs_hc_m[i][:,4] for i in range(0,len(X_tr_IMFs_hc_m))]

X_IMF_hc_m = [X_imf1_hc_m,X_imf2_hc_m,X_imf3_hc_m,X_imf4_hc_m,X_imf5_hc_m]

In [7]:
#THESE ARE NOT THE FINAL SPLIT - USED THEM IN THE RTSNE (FOR NOW ONLY MALE) TO PROVIDE EVIDENCE OF THE REQUIRED SPLITTING
#WE ARE GOING TO SPLIT THE GROUPS WRT BOTH PD STAGE AND PATIENT NUMBER TO LEAVE OUT ONE PATIENT FOR THE TESTING
X_imf1_m_pd_split_11 = np.load("C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\X_imf1_m_pd_split_11.npy", allow_pickle=True)
X_imf2_m_pd_split_11 = np.load("C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\X_imf2_m_pd_split_11.npy", allow_pickle=True)
X_imf3_m_pd_split_11 = np.load("C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\X_imf3_m_pd_split_11.npy", allow_pickle=True)
X_imf4_m_pd_split_11 = np.load("C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\X_imf4_m_pd_split_11.npy", allow_pickle=True)
X_imf5_m_pd_split_11 = np.load("C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\X_imf5_m_pd_split_11.npy", allow_pickle=True)

In [8]:
#THESE ARE NOT THE FINAL SPLIT - USED THEM IN THE RTSNE (FOR NOW ONLY MALE) TO PROVIDE EVIDENCE OF THE REQUIRED SPLITTING
#WE ARE GOING TO SPLIT THE GROUPS WRT BOTH PD STAGE AND PATIENT NUMBER TO LEAVE OUT ONE PATIENT FOR THE TESTING
X_imf1_f_pd_split_11 = np.load("C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\X_imf1_f_pd_split_11.npy", allow_pickle=True)
X_imf2_f_pd_split_11 = np.load("C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\X_imf2_f_pd_split_11.npy", allow_pickle=True)
X_imf3_f_pd_split_11 = np.load("C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\X_imf3_f_pd_split_11.npy", allow_pickle=True)
X_imf4_f_pd_split_11 = np.load("C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\X_imf4_f_pd_split_11.npy", allow_pickle=True)
X_imf5_f_pd_split_11 = np.load("C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\Data_extraction_&_preliminaries\\Results\\X_imf5_f_pd_split_11.npy", allow_pickle=True)

### 1) Separate the IMFs segments wrt PD Stage and Patient Number

In [9]:
len_IMF_f_tr = len(X_imf1_f_pd_split_11)
len_IMF_m_tr = len(X_imf1_m_pd_split_11)

In [10]:
n_seg_IMF_f_tr = [len(X_imf1_f_pd_split_11[i]) for i in range(0, len_IMF_f_tr)]
n_seg_IMF_f_tr

[1543, 1209]

In [11]:
n_seg_IMF_m_tr = [len(X_imf1_m_pd_split_11[i]) for i in range(0, len_IMF_m_tr)]
n_seg_IMF_m_tr

[3910, 2495, 1050, 539]

In [12]:
################
#Index Patients#
################

########
#FEMALE#
########
final_index_pt_f_hc_train = np.load('C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\System_M1\\Code\\final_index_pt_f_hc_train.npy')
final_index_pt_f_pd_train = np.load('C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\System_M1\\Code\\final_index_pt_f_pd_train.npy')

######
#MALE#
######

final_index_pt_m_hc_train = np.load('C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\System_M1\\Code\\final_index_pt_m_hc_train.npy')
final_index_pt_m_pd_train = np.load('C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\System_M1\\Code\\final_index_pt_m_pd_train.npy')

In [15]:
len(final_index_pt_f_hc_train) == len(X_tr_IMFs_hc_f)

True

In [16]:
len(final_index_pt_f_pd_train) == sum(n_seg_IMF_f_tr)

True

In [17]:
len(final_index_pt_m_hc_train) == len(X_tr_IMFs_hc_m)

True

In [18]:
len(final_index_pt_m_pd_train) == sum(n_seg_IMF_m_tr)

True

In [13]:
#######################
#Index Parkinson Stage#
#######################

########
#FEMALE#
########

final_index_pd_f = np.load('C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\System_M1\\Code\\final_index_pd_f.npy')

######
#MALE#
######

final_index_pd_m = np.load('C:\\Users\\Marta\\Desktop\\Parkinson_data\\Python_code\\System_M1\\Code\\final_index_pd_m.npy')

In [20]:
len(final_index_pd_m) == len(final_index_pt_m_pd_train)

True

In [21]:
len(final_index_pd_f) == len(final_index_pt_f_pd_train)

True

In [14]:
df_seg_descr_m = pd.DataFrame([final_index_pd_m, final_index_pt_m_pd_train] ).T
df_seg_descr_m.columns = ['PD_stage','Patient_N']
df_seg_descr_m

      PD_stage  Patient_N
0            0          0
1            0          0
2            0          0
3            0          0
4            0          0
...        ...        ...
7989         2         11
7990         2         11
7991         2         11
7992         2         11
7993         2         11

[7994 rows x 2 columns]

In [15]:
df_seg_descr_f = pd.DataFrame([final_index_pd_f, final_index_pt_f_pd_train] ).T
df_seg_descr_f.columns = ['PD_stage','Patient_N']
df_seg_descr_f

      PD_stage  Patient_N
0            0          0
1            0          0
2            0          0
3            0          0
4            0          0
...        ...        ...
2747         0          3
2748         0          3
2749         0          3
2750         0          3
2751         0          3

[2752 rows x 2 columns]

In [16]:
pd_df_f_seg = df_seg_descr_f.groupby(['PD_stage','Patient_N'])['PD_stage'].count()
pd_df_f_seg = pd.DataFrame(pd_df_f_seg)
pd_df_f_seg

                    PD_stage
PD_stage Patient_N
0        0               864
         3               679
1        1               449
         2               760

In [25]:
np.sum(pd_df_f_seg)

PD_stage    2752
dtype: int64

In [ ]:
# HENCE: Within both groups I can always leave one patient out and do the training with the segments from only one
#        patient. What I do now is slecting the minimum number of segments across the 4 groups --> 449. Then one patient
#        will provide the training set and the other the testing. I will extract 80% for the training and 20% for the
#        testing. UPDATE: the minimum number for one of the patient in the healthy class is 442 and therefore we keep 
#        that as a minimum number

In [17]:
pd_df_m_seg = df_seg_descr_m.groupby(['PD_stage','Patient_N',])['PD_stage'].count()
pd_df_m_seg = pd.DataFrame(pd_df_m_seg)
pd_df_m_seg

                    PD_stage
PD_stage Patient_N
0        0               999
         1               530
         3               832
         6               771
         7               778
1        2               976
         8               407
         9               740
         10              372
2        4               401
         11              649
3        5               539

In [23]:
np.sum(pd_df_m_seg)

PD_stage    7994
dtype: int64

In [ ]:
#HENCE:  Within both groups I can always leave one patient out and do the training with the segments from only one
#        patient. What I do now is slecting the minimum number of segments across As for the female case, I select the 
#        minimum number of segments across the 12  groups --> 372. Then, in each group, one patient randomly selected 
#        will provide the testing set and from the rest I will extract 80% for the training set. 
#        I will extract 80% for the training and 20% for the testing.
#

In [ ]:
# THE SET THAT I BUILT FOR THE SPLIT GROUPS ONLY TAKE INTO ACCOUNT THE DIFFERENTIATION W.R.T THE PD-STAGE. GIVEN MY
# NEW DESIGN FOR THE TRAINING AND TESTING PROCEDURE I BUILD A NEW SET OF SPLITS WHICH WILL PROVIDE THE REQUIREMENTS
# ABOVE INTRODUCED. THEREFORE I CONSTRUCT HERE AGAIN THE SPLIT GROUPS

In [ ]:
#############
##MALE CASE##
#############

In [18]:
n_IMF = 5

In [ ]:
IMF_train_pd_m_df = [ pd.DataFrame(X_IMF_pd_m[i]) for i in range(0,n_IMF)]
final_index_pd_m_df = pd.DataFrame(final_index_pd_m)
final_index_pt_m_pd_train_df = pd.DataFrame(final_index_pt_m_pd_train)

In [29]:
IMF_train_m_pd_ind_df =[ pd.concat([IMF_train_pd_m_df[i],
                                 final_index_pd_m_df,
                                 final_index_pt_m_pd_train_df] , ignore_index= True, axis = 1)  for i in range(0,n_IMF)]

In [30]:
col_list = ['col' + str(x) for x in range(0,IMF_train_m_pd_ind_df[0].shape[1])]
for i in range(0,n_IMF):
    IMF_train_m_pd_ind_df[i].columns = col_list

In [31]:
#I split them with respect to the patients and then they have the associated PD_stage in the last col
IMF_train_m_pd_split_0 = [IMF_train_m_pd_ind_df[i].groupby('col5001') for i in range(0,n_IMF)]
IMF_train_m_pd_split = [[IMF_train_m_pd_split_0[i].get_group(x) for x in IMF_train_m_pd_split_0[i].groups] for i in range(0,n_IMF)]

In [32]:
len(IMF_train_m_pd_split)

5

In [33]:
[len(IMF_train_m_pd_split[i]) for i in range(0,n_IMF)]

[12, 12, 12, 12, 12]

In [34]:
n_seg_pd_m_split1 =  [[len(IMF_train_m_pd_split[j][i]) for i in range(0, len(IMF_train_m_pd_split[j]))] for j in range(0,n_IMF)]
n_seg_pd_m_split1

[[999, 530, 976, 832, 401, 539, 771, 778, 407, 740, 372, 649],
 [999, 530, 976, 832, 401, 539, 771, 778, 407, 740, 372, 649],
 [999, 530, 976, 832, 401, 539, 771, 778, 407, 740, 372, 649],
 [999, 530, 976, 832, 401, 539, 771, 778, 407, 740, 372, 649],
 [999, 530, 976, 832, 401, 539, 771, 778, 407, 740, 372, 649]]

In [ ]:
###############
##FEMALE CASE##
###############

In [35]:
IMF_train_pd_f_df = [ pd.DataFrame(X_IMF_pd_f[i]) for i in range(0,n_IMF)]
final_index_pd_f_df = pd.DataFrame(final_index_pd_f)
final_index_pt_f_pd_train_df = pd.DataFrame(final_index_pt_f_pd_train)

In [36]:
IMF_train_f_pd_ind_df =[ pd.concat([IMF_train_pd_f_df[i],
                                 final_index_pd_f_df,
                                 final_index_pt_f_pd_train_df] , ignore_index= True, axis = 1)  for i in range(0,n_IMF)]

In [37]:
col_list = ['col' + str(x) for x in range(0,IMF_train_f_pd_ind_df[0].shape[1])]
for i in range(0,n_IMF):
    IMF_train_f_pd_ind_df[i].columns = col_list

In [38]:
#I split them with respect to the patients and then they have the associated PD_stage in the last col
IMF_train_f_pd_split_0 = [IMF_train_f_pd_ind_df[i].groupby('col5001') for i in range(0,n_IMF)]
IMF_train_f_pd_split = [[IMF_train_f_pd_split_0[i].get_group(x) for x in IMF_train_f_pd_split_0[i].groups] for i in range(0,n_IMF)]

In [39]:
len(IMF_train_f_pd_split)

5

In [40]:
[len(IMF_train_f_pd_split[i]) for i in range(0,n_IMF)]

[4, 4, 4, 4, 4]

In [41]:
n_seg_pd_f_split1 =  [[len(IMF_train_f_pd_split[j][i]) for i in range(0, len(IMF_train_f_pd_split[j]))] for j in range(0,n_IMF)]
n_seg_pd_f_split1

[[864, 449, 760, 679],
 [864, 449, 760, 679],
 [864, 449, 760, 679],
 [864, 449, 760, 679],
 [864, 449, 760, 679]]

### 2) Compute the minimum of the number of segments in each group and denote that N_m and N_f

In [42]:
n_seg_pd_m_split =  [len(IMF_train_m_pd_split[0][i]) for i in range(0, len(IMF_train_m_pd_split[0]))] 
n_seg_pd_m_split

[999, 530, 976, 832, 401, 539, 771, 778, 407, 740, 372, 649]

In [43]:
n_seg_pd_f_split =  [len(IMF_train_f_pd_split[0][i]) for i in range(0, len(IMF_train_f_pd_split[0]))] 
n_seg_pd_f_split

[864, 449, 760, 679]

In [44]:
min_m = min(n_seg_pd_m_split)
min_f = min(n_seg_pd_f_split)
print(min_m,min_f)

372 449

In [ ]:
#HOWEVER - SINCE THE MINIMUM NUMBER FOR ONE OF THE HEALTHY PATIENTS IS HEALTHY THEN 442 THEN WE KEEP min_f = 442

In [45]:
min_f = 442
print(min_m,min_f)

372 442

In [46]:
N_f = min_f
N_m = min_m

### 3) Randomly select from each group (divided by both pd_stage and patient number) 442/372 number of segments for the female/male case respectively

In [178]:
#Now --> Randomly select from each group the minimum number from the groups created for each speaker

In [47]:
random.seed(1)
print(random.random()) #0.13436424411240122

0.13436424411240122

In [48]:
ind_pd_f = [range(0,n_seg_pd_f_split[i]) for i in range(0, len(n_seg_pd_f_split))]
ind_pd_m = [range(0,n_seg_pd_m_split[i]) for i in range(0, len(n_seg_pd_m_split))]

In [49]:
random.seed(1)

rand_ind_pd_m = [random.sample( ind_pd_m[i],  k = min_m) for i in range(0, len(ind_pd_m))]
rand_ind_pd_f = [random.sample( ind_pd_f[i],  k = min_f) for i in range(0, len(ind_pd_f))]

In [50]:
[len(rand_ind_pd_m[i]) for i in range(0, len(rand_ind_pd_m))]

[372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372]

In [51]:
[len(rand_ind_pd_f[i]) for i in range(0, len(rand_ind_pd_f))]

[442, 442, 442, 442]

In [52]:
rand_ind_pd_sorted_f = [sorted(rand_ind_pd_f[i]) for i in range(0,len(rand_ind_pd_f))]
rand_ind_pd_sorted_m = [sorted(rand_ind_pd_m[i]) for i in range(0,len(rand_ind_pd_m))]

In [53]:
IMF_pd_f_split = [[IMF_train_f_pd_split[j][i].iloc[rand_ind_pd_sorted_f[i], :].reset_index() for i in range(0, len(IMF_train_f_pd_split[j]))] for j in range(0,n_IMF)]
IMF_pd_m_split = [[IMF_train_m_pd_split[j][i].iloc[rand_ind_pd_sorted_m[i], :].reset_index() for i in range(0, len(IMF_train_m_pd_split[j]))]  for j in range(0,n_IMF)]

In [54]:
#check
[[len(IMF_pd_f_split[j][i]) for i in range(0, len(IMF_pd_f_split[j]))] for j in range(0,n_IMF)]

[[442, 442, 442, 442],
 [442, 442, 442, 442],
 [442, 442, 442, 442],
 [442, 442, 442, 442],
 [442, 442, 442, 442]]

In [55]:
[[len(IMF_pd_m_split[j][i]) for i in range(0, len(IMF_pd_m_split[j]))] for j in range(0,n_IMF)]

[[372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372],
 [372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372],
 [372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372],
 [372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372],
 [372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372, 372]]

### 4)Randomly select one group for one speaker to leave out for the testing set

In [ ]:
##########
#  MALE  #
##########

In [56]:
pd_df_m = pd.DataFrame( np.array([[ 0,  0 ], 
                        [ 0,  1 ], 
                        [ 0 , 3 ],
                        [ 0,  6 ], 
                        [ 0,  7 ],
                        [ 1,  2 ],
                        [ 1 , 8 ], 
                        [ 1,  9 ],
                        [ 1 , 10],
                        [ 2,  4 ],
                        [ 2,  11], 
                        [ 3 , 5 ] ]),                      
         columns = ["PD_stage", "Patient_N"])

pd_df_m

    PD_stage  Patient_N
0          0          0
1          0          1
2          0          3
3          0          6
4          0          7
5          1          2
6          1          8
7          1          9
8          1         10
9          2          4
10         2         11
11         3          5

In [57]:
np.random.seed(2) #I already got 8,5,3,4,2, 6,9,10,11,0,7,1

test_patients_m = pd_df_m.sample(frac = 1.0).head(1)
test_patients_m

   PD_stage  Patient_N
9         2          4

In [58]:
new_IMF_pd_m_split_train_d1 = [list(IMF_pd_m_split[i]) for i in range(0, n_IMF)]
new_IMF_pd_m_split_train_d1 = [[i for j, i in enumerate(new_IMF_pd_m_split_train_d1[h]) if j not in np.array(test_patients_m["Patient_N"])] for h in range(0,n_IMF)]

In [59]:
[len(new_IMF_pd_m_split_train_d1[i]) for i in range(0,n_IMF)]

[11, 11, 11, 11, 11]

In [60]:
#chekc that the left patients are 0,1,2,3,4,6,7,9,10,11
[[set(new_IMF_pd_m_split_train_d1[j][i]['col5001']) for i in range(0,len(new_IMF_pd_m_split_train_d1[j]))] for j in range(0,n_IMF)]

[[{0}, {1}, {2}, {3}, {5}, {6}, {7}, {8}, {9}, {10}, {11}],
 [{0}, {1}, {2}, {3}, {5}, {6}, {7}, {8}, {9}, {10}, {11}],
 [{0}, {1}, {2}, {3}, {5}, {6}, {7}, {8}, {9}, {10}, {11}],
 [{0}, {1}, {2}, {3}, {5}, {6}, {7}, {8}, {9}, {10}, {11}],
 [{0}, {1}, {2}, {3}, {5}, {6}, {7}, {8}, {9}, {10}, {11}]]

In [61]:
new_IMF_pd_m_split_test_d1 = [list(IMF_pd_m_split[i]) for i in range(0, n_IMF)]
new_IMF_pd_m_split_test_d1 = [[i for j, i in enumerate(new_IMF_pd_m_split_test_d1[h]) if j in np.array(test_patients_m["Patient_N"])] for h in range(0,n_IMF)]

In [62]:
[len(new_IMF_pd_m_split_test_d1[i]) for i in range(0,n_IMF)]

[1, 1, 1, 1, 1]

In [63]:
#chekc that the left patient is 8
[set(new_IMF_pd_m_split_test_d1[i][0]['col5001'] ) for i in range(0,n_IMF)]

[{4}, {4}, {4}, {4}, {4}]

In [215]:
############
#  FEMALE  #
############

In [61]:
pd_df_f = pd.DataFrame( np.array([[ 0,  0 ], 
                        [ 0,  3 ], 
                        [ 1 , 1 ],
                        [ 1,  2 ] ]),                      
         columns = ["PD_stage", "Patient_N"])

pd_df_f

   PD_stage  Patient_N
0         0          0
1         0          3
2         1          1
3         1          2

In [112]:
np.random.seed(6)

test_patients_f = pd_df_f.sample(frac = 1.0).head(1)
test_patients_f

   PD_stage  Patient_N
0         0          0

In [68]:
new_IMF_pd_f_split_train_d1 = [list(IMF_pd_f_split[i]) for i in range(0, n_IMF)]
new_IMF_pd_f_split_train_d1 = [[i for j, i in enumerate(new_IMF_pd_f_split_train_d1[h]) if j not in np.array(test_patients_f["Patient_N"])] for h in range(0,n_IMF)]

In [69]:
len(new_IMF_pd_f_split_train_d1)

5

In [70]:
len(new_IMF_pd_f_split_train_d1[3])

3

In [71]:
#chekc that the left patients are 0,2,3
[[set(new_IMF_pd_f_split_train_d1[j][i]['col5001']) for i in range(0,len(new_IMF_pd_f_split_train_d1[j]))] for j in range(0,n_IMF)]

[[{0}, {1}, {2}],
 [{0}, {1}, {2}],
 [{0}, {1}, {2}],
 [{0}, {1}, {2}],
 [{0}, {1}, {2}]]

In [113]:
new_IMF_pd_f_split_test_d1 = [list(IMF_pd_f_split[i]) for i in range(0, n_IMF)]
new_IMF_pd_f_split_test_d1 = [[i for j, i in enumerate(new_IMF_pd_f_split_test_d1[h]) if j in np.array(test_patients_f["Patient_N"])] for h in range(0,n_IMF)]

In [73]:
len(new_IMF_pd_f_split_test_d1)

5

In [74]:
len(new_IMF_pd_f_split_test_d1[0])

1

In [114]:
#chekc that the left patient is 1
[set(new_IMF_pd_f_split_test_d1[j][0]['col5001'] ) for j in range(0, n_IMF)]

[{0}, {0}, {0}, {0}, {0}]

### 5) Extract 80% of the data for the traning set and 20% of the data for the testing

In [ ]:
################
#     MALE     #
################

In [117]:
new_IMF_pd_m_split_train_d1[0][2] # I merge all of these and then extract 80% of 372 --> 298

,index,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000,col5001
0,1532,-1.174157e-03,0.001163,0.000093,-0.001055,0.000953,-0.000080,-0.000704,0.000593,-0.000373,...,-0.000523,-0.000066,0.000803,-0.000901,-0.000284,0.000978,-0.000758,-0.000937,1,2
1,1534,7.136370e-04,0.000422,-0.000946,0.000235,0.000942,-0.000943,0.000911,0.000978,-0.001022,...,0.000686,-0.000725,0.000456,0.000772,-0.000781,0.000559,0.000784,-0.000476,1,2
2,1539,2.739969e-04,0.000440,0.000108,-0.000307,-0.000456,-0.000022,0.000298,0.000506,-0.000074,...,-0.004866,-0.008138,-0.004324,0.002341,0.006084,0.008062,0.006840,0.004738,1,2
3,1543,1.824557e-03,0.000495,-0.000906,-0.001781,-0.000962,0.000727,0.001668,0.000728,-0.001577,...,0.006127,0.006456,0.003329,0.001685,-0.000760,-0.003663,-0.005278,-0.006391,1,2
4,1544,-1.679741e-04,-0.000201,0.000232,0.000045,-0.000415,0.000553,-0.000692,0.000796,0.000555,...,-0.028301,-0.008731,0.004864,0.009894,0.015673,0.033468,0.031159,0.019932,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,2493,2.931168e-03,0.000761,-0.000954,-0.002191,-0.002712,-0.002667,-0.001854,-0.000457,0.000484,...,0.000292,-0.000274,0.000044,0.000257,0.000034,-0.000261,0.000264,-0.000266,1,2
368,2495,1.617015e-08,0.000729,-0.000823,-0.000666,0.001294,0.000319,-0.001890,0.001519,0.002218,...,-0.000053,0.000785,-0.000931,-0.000616,0.000352,0.001107,0.000400,0.000258,1,2
369,2499,-1.600866e-04,0.000158,-0.000121,-0.000142,0.000047,0.000123,-0.000122,0.000131,-0.000155,...,0.000093,-0.000092,0.000105,-0.000126,0.000149,0.000136,-0.000181,0.000185,1,2
370,2501,-2.196841e-04,-0.000051,0.000042,0.000063,0.000134,-0.000025,-0.000068,0.000052,-0.000057,...,0.000129,-0.000085,-0.000005,0.000081,-0.000099,-0.000121,0.000134,-0.000137,1,2
371,2503,-6.625110e-05,-0.000037,0.000062,-0.000056,0.000050,-0.000049,0.000056,-0.000057,-0.000084,...,-0.000039,0.000017,0.000062,0.000084,0.000047,-0.000109,0.000115,-0.000116,1,2

In [118]:
new_IMF_pd_m_split_test_d1[0][0] # from this one I extract 20% of 372 --> 75

,index,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000,col5001
0,5826,-0.000006,-0.000070,0.000016,7.020446e-05,-0.000070,-0.000032,0.000071,-0.000073,-0.000001,...,-0.000035,-0.000085,0.000101,0.000056,-0.000127,0.000138,0.000139,-0.000140,1,8
1,5827,0.000011,-0.000087,0.000066,8.824123e-05,-0.000081,-0.000088,0.000085,-0.000078,-0.000037,...,0.000069,-0.000069,0.000025,0.000041,-0.000027,0.000019,-0.000015,-0.000003,1,8
2,5828,0.000097,0.000066,-0.000046,-9.182897e-05,-0.000012,0.000085,-0.000032,-0.000082,0.000086,...,0.000137,-0.000544,0.000562,0.000416,-0.000580,-0.000429,0.000582,-0.000268,1,8
3,5829,-0.000141,-0.000278,0.000294,-6.521903e-05,-0.000363,0.000400,0.000378,-0.000358,-0.000440,...,0.000020,0.000064,-0.000057,0.000052,-0.000052,0.000054,-0.000036,-0.000056,1,8
4,5830,0.000107,-0.000104,0.000097,9.133169e-07,-0.000074,0.000010,0.000062,-0.000062,-0.000024,...,0.000076,0.000159,-0.000055,-0.000191,-0.000119,0.000044,0.000091,0.000213,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,6227,-0.000091,-0.000023,0.000109,-2.466956e-05,-0.000078,-0.000108,0.000042,0.000108,0.000099,...,0.000051,-0.000041,0.000046,0.000047,-0.000070,-0.000032,0.000084,-0.000053,1,8
368,6228,0.000101,0.000170,0.000135,-1.796247e-04,0.000190,-0.000129,-0.000206,0.000139,0.000187,...,0.000056,0.000298,0.000534,-0.000503,0.000286,0.000528,0.000130,-0.000568,1,8
369,6229,0.000364,-0.000319,-0.000422,4.272075e-04,-0.000435,0.000291,0.000426,0.000443,-0.000429,...,-0.005077,-0.010301,-0.008966,-0.002903,0.006603,0.006769,0.009077,0.011119,1,8
370,6230,0.013104,0.012679,0.001678,-1.828928e-03,-0.011419,-0.010451,-0.003469,0.007616,0.005958,...,0.000312,-0.000151,-0.000179,0.000156,-0.000188,0.000253,-0.000305,0.000323,1,8
371,6232,-0.000093,0.000053,0.000136,-1.299740e-04,-0.000084,0.000105,-0.000009,-0.000072,0.000058,...,0.000033,0.000038,-0.000034,0.000037,-0.000045,0.000052,0.000013,-0.000057,1,8

In [78]:
IMF_train_m_pd_concat_d1 = [pd.concat(new_IMF_pd_m_split_train_d1[i], axis = 0) for i in range(0,n_IMF)]
IMF_train_m_pd_concat_d1 = [IMF_train_m_pd_concat_d1[i].reset_index() for i in range(0,n_IMF)]

In [124]:
IMF_train_m_pd_concat_d1[0]

,level_0,index,col0,col1,col2,col3,col4,col5,col6,col7,...,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000,col5001
0,0,1,-0.000054,-0.000077,-0.000037,0.000080,-0.000086,0.000073,1.057355e-04,-0.000114,...,0.000115,-0.000089,0.000071,-0.000065,0.000050,0.000068,0.000078,-0.000080,0,0
1,1,2,0.000072,-0.000077,0.000082,-0.000058,-0.000110,0.000134,-1.255707e-05,-0.000179,...,-0.000050,0.000136,-0.000010,-0.000188,0.000215,0.000079,-0.000252,0.000258,0,0
2,2,5,-0.000073,0.000095,-0.000090,-0.000097,0.000101,0.000069,-9.357697e-07,-0.000121,...,0.000077,0.000002,-0.000122,0.000135,0.000021,-0.000143,0.000143,0.000078,0,0
3,3,8,0.000094,0.000031,-0.000201,-0.000170,0.000198,-0.000091,-1.840821e-04,0.000151,...,0.000057,-0.000071,0.000093,-0.000114,0.000128,-0.000136,0.000140,-0.000140,0,0
4,4,9,-0.000085,-0.000098,-0.000009,0.000094,-0.000072,-0.000088,8.666713e-05,0.000045,...,-0.000194,-0.000206,0.000218,-0.000225,-0.000133,0.000227,-0.000225,-0.000164,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,367,7985,0.000023,-0.000029,0.000035,-0.000052,0.000082,-0.000058,-1.561083e-04,0.000183,...,0.000001,-0.000176,-0.000011,0.000145,-0.000122,0.000106,0.000039,0.000031,2,11
4088,368,7986,-0.000171,0.000052,0.000183,-0.000179,-0.000086,0.000163,8.100767e-05,-0.000140,...,-0.000114,0.000665,0.000773,0.000783,-0.001083,-0.001075,0.000119,0.001133,2,11
4089,369,7988,0.000158,-0.000151,-0.000063,0.000118,-0.000105,0.000014,9.195239e-05,-0.000085,...,-0.000533,-0.000195,0.000922,-0.000658,-0.001599,0.001549,0.002161,-0.002256,2,11
4090,370,7989,-0.001388,0.001124,0.001601,0.000788,-0.001577,0.000362,1.521907e-03,0.000176,...,-0.001959,0.001759,0.000669,-0.001390,0.001421,-0.000132,-0.001778,0.001874,2,11
4091,371,7993,-0.000240,0.000224,-0.000042,-0.000123,0.000065,-0.000041,7.710502e-05,-0.000177,...,-0.000110,-0.000064,0.000084,-0.000011,-0.000070,0.000041,0.000067,-0.000069,2,11

In [125]:
4092/11

372.0

In [79]:
IMF_train_m_pd_concat_d1_0 = [IMF_train_m_pd_concat_d1[i].drop(['level_0', 'index', 'col5000', 'col5001'], axis=1) for i in range(0,n_IMF)]

In [297]:
len(IMF_train_m_pd_concat_d1_0)

5

In [298]:
IMF_train_m_pd_concat_d1_0[0]

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col4990,col4991,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999
0,-0.000054,-0.000077,-0.000037,0.000080,-0.000086,0.000073,1.057355e-04,-0.000114,0.000118,0.000042,...,-0.000174,0.000025,0.000115,-0.000089,0.000071,-0.000065,0.000050,0.000068,0.000078,-0.000080
1,0.000072,-0.000077,0.000082,-0.000058,-0.000110,0.000134,-1.255707e-05,-0.000179,-0.000171,0.000175,...,-0.000085,-0.000074,-0.000050,0.000136,-0.000010,-0.000188,0.000215,0.000079,-0.000252,0.000258
2,-0.000073,0.000095,-0.000090,-0.000097,0.000101,0.000069,-9.357697e-07,-0.000121,0.000129,0.000013,...,-0.000034,0.000065,0.000077,0.000002,-0.000122,0.000135,0.000021,-0.000143,0.000143,0.000078
3,0.000094,0.000031,-0.000201,-0.000170,0.000198,-0.000091,-1.840821e-04,0.000151,0.000152,-0.000011,...,-0.000074,-0.000009,0.000057,-0.000071,0.000093,-0.000114,0.000128,-0.000136,0.000140,-0.000140
4,-0.000085,-0.000098,-0.000009,0.000094,-0.000072,-0.000088,8.666713e-05,0.000045,-0.000095,0.000064,...,-0.000026,0.000184,-0.000194,-0.000206,0.000218,-0.000225,-0.000133,0.000227,-0.000225,-0.000164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,-0.009354,0.000754,0.009188,-0.008570,-0.008670,0.008345,-4.109946e-03,-0.008025,0.008253,0.004604,...,-0.001204,0.002256,0.005678,0.009013,0.011169,0.011578,0.011316,0.010297,0.008348,0.006056
4088,0.000228,-0.000227,0.000220,-0.000013,-0.000130,-0.000173,1.585194e-04,-0.000157,0.000168,0.000228,...,0.002370,0.001592,-0.000588,-0.001383,0.000021,0.000550,-0.000336,0.000365,-0.000537,0.000650
4089,-0.001167,0.000379,0.001097,0.000485,-0.000878,0.000024,5.409565e-04,-0.000361,0.000209,-0.000127,...,0.004679,0.005567,0.005421,0.005070,0.004669,0.003380,0.001228,-0.001684,-0.005129,-0.007940
4090,0.000192,-0.000256,0.000267,-0.000174,-0.000297,0.000291,-2.675051e-04,0.000048,0.000263,-0.000344,...,0.000074,-0.001043,-0.000231,0.000216,0.001353,-0.000825,-0.001464,0.001490,-0.000594,-0.001502
4091,-0.000152,0.000148,0.001442,-0.000104,-0.001310,-0.001151,9.561931e-04,-0.000723,0.000513,-0.000387,...,-0.001740,-0.000966,0.002605,0.003265,-0.003680,-0.002347,0.004169,-0.000873,-0.004284,-0.000156

In [80]:
# NOTE: To extract the trainiing set, even if the sets are of bigger dimensions, we still set the 80% equal to N_m
#       across the groups. 

per_train_pd_m = math.ceil(N_m * 0.8)
per_test_pd_m = math.ceil(N_m * 0.2)
print(per_train_pd_m, per_test_pd_m)

298 75

In [81]:
#Set see to reproduce the results
random.seed(1)

range_pd_m = range(0, IMF_train_m_pd_concat_d1_0[0].shape[0] )
range_pd_m_test = range(0, N_m)

rand_s_train_pd_m = random.sample(range_pd_m, k = per_train_pd_m)
rand_s_test_pd_m = random.sample(range_pd_m_test, k = per_test_pd_m)

print(random.random()) #0.2665354510728647

ind_train_pd_m = sorted(rand_s_train_pd_m) 
ind_test_pd_m = sorted(rand_s_test_pd_m)

0.2665354510728647

In [422]:
IMF_train_m_pd_d1 = [IMF_train_m_pd_concat_d1_0[i].reset_index().loc[ind_train_pd_m]  for i in range(0,n_IMF)]

In [423]:
[IMF_train_m_pd_d1[i].shape  for i in range(0,n_IMF)]

[(298, 5001), (298, 5001), (298, 5001), (298, 5001), (298, 5001)]

In [424]:
IMF_train_m_pd_d1 = [IMF_train_m_pd_d1[i].drop(['index'], axis=1) for i in range(0,n_IMF)]

In [425]:
[IMF_train_m_pd_d1[i].shape for i in range(0,n_IMF)]

[(298, 5000), (298, 5000), (298, 5000), (298, 5000), (298, 5000)]

In [426]:
IMF_train_m_pd_d1 = [IMF_train_m_pd_d1[i].values for i in range(0,n_IMF)]

In [427]:
 [IMF_train_m_pd_d1[i].shape for i in range(0,n_IMF)]

[(298, 5000), (298, 5000), (298, 5000), (298, 5000), (298, 5000)]

In [258]:
IMF_test_pd_m_d1 = [new_IMF_pd_m_split_test_d1[i][0].reset_index().loc[ind_test_pd_m] for i in range(0,n_IMF)]

In [259]:
[IMF_test_pd_m_d1[i].shape for i in range(0,n_IMF)]

[(75, 5004), (75, 5004), (75, 5004), (75, 5004), (75, 5004)]

In [260]:
IMF_test_pd_m_d1 = [IMF_test_pd_m_d1[i].drop(['level_0', 'index', 'col5000', 'col5001'], axis=1) for i in range(0,n_IMF)]

In [261]:
[IMF_test_pd_m_d1[i].shape for i in range(0,n_IMF)]

[(75, 5000), (75, 5000), (75, 5000), (75, 5000), (75, 5000)]

In [262]:
IMF_test_pd_m_d1 = [IMF_test_pd_m_d1[i].values  for i in range(0,n_IMF)]

In [263]:
[IMF_test_pd_m_d1[i].shape for i in range(0,n_IMF)]

[(75, 5000), (75, 5000), (75, 5000), (75, 5000), (75, 5000)]

In [241]:
np.save('IMF_test_m_pd_3', IMF_test_pd_m_d1)

In [264]:
np.save('IMF_test_m_pd_4', IMF_test_pd_m_d1)

In [228]:
np.save('IMF_test_m_pd_2', IMF_test_pd_m_d1)

In [205]:
np.save('IMF_test_m_pd_6', IMF_test_pd_m_d1)

In [186]:
np.save('IMF_test_m_pd_9', IMF_test_pd_m_d1)

In [170]:
np.save('IMF_test_m_pd_10', IMF_test_pd_m_d1)

In [154]:
np.save('IMF_test_m_pd_11', IMF_test_pd_m_d1)

In [142]:
np.save('IMF_test_m_pd_0', IMF_test_pd_m_d1)

In [121]:
np.save('IMF_test_m_pd_7', IMF_test_pd_m_d1)

In [88]:
np.save('IMF_test_m_pd_1', IMF_test_pd_m_d1)

In [161]:
np.save('IMF_train_m_pd_d1', IMF_train_m_pd_d1)

In [162]:
np.save('IMF_test_pd_m_d1', IMF_test_pd_m_d1)

In [ ]:
###############
#   FEMALE    #
###############

In [163]:
new_IMF_pd_f_split_train_d1[0][2] # I merge all of these and then extract 80% of 442 --> 354

,index,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000,col5001
0,2073,0.000126,0.000168,-0.000182,0.000086,0.000233,0.000052,-0.000244,0.000211,0.000195,...,-0.000027,0.000155,-0.000012,-0.000141,0.000136,-0.000044,-0.000134,2.648941e-05,0,3
1,2074,-0.000039,0.000027,0.000165,-0.000161,-0.000079,0.000148,-0.000027,-0.000146,0.000154,...,-0.000043,-0.000185,0.000198,-0.000081,-0.000211,0.000140,0.000185,2.118908e-04,0,3
2,2075,0.000081,-0.000105,0.000042,0.000113,-0.000077,-0.000138,0.000060,0.000178,-0.000196,...,0.000036,0.000041,-0.000049,0.000035,0.000077,-0.000098,0.000113,8.521522e-05,0,3
3,2076,0.000087,0.000115,0.000018,-0.000040,-0.000109,0.000104,-0.000098,-0.000070,0.000095,...,0.000013,-0.000102,-0.000011,0.000057,0.000076,-0.000068,0.000064,2.209288e-08,0,3
4,2081,-0.000654,-0.000340,0.000017,0.000649,0.000595,0.000158,-0.000622,0.000058,0.000592,...,-0.000014,0.000069,-0.000079,0.000027,0.000158,-0.000202,0.000227,1.014370e-04,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,2745,0.000105,0.000030,-0.000188,-0.000355,-0.000282,-0.000072,0.000250,0.000317,-0.000203,...,-0.000337,-0.000073,0.000306,0.000507,0.000663,0.000567,0.000085,-7.083994e-04,0,3
438,2746,-0.000065,0.000557,0.000531,0.000459,0.000452,0.000015,-0.000372,-0.000445,-0.000381,...,-0.000150,-0.000371,0.000066,0.000186,0.000613,0.000755,-0.000352,-8.346846e-04,0,3
439,2747,0.000282,-0.000435,0.000442,0.000098,-0.000468,0.000470,-0.000229,-0.000416,-0.000345,...,-0.000219,-0.000572,0.000243,0.000489,-0.000099,-0.000457,-0.000314,-1.090336e-05,0,3
440,2749,-0.000416,0.000161,0.000155,-0.000056,0.000034,-0.000052,0.000023,0.000131,-0.000104,...,0.000755,-0.004546,-0.009579,-0.007161,0.005871,0.007973,-0.000063,8.492993e-05,0,3
441,2750,0.005322,-0.000212,-0.005217,-0.000615,0.004733,0.001210,-0.003761,0.000639,0.002490,...,0.000280,0.000263,-0.000013,-0.000253,-0.000312,-0.000255,0.000316,3.039215e-04,0,3

In [164]:
new_IMF_pd_f_split_test_d1[2][0] # from this one I extract 20% of 442 --> 89

,index,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000,col5001
0,864,-0.000099,-0.000063,-0.000031,-0.000003,0.000022,0.000045,0.000064,0.000078,8.741020e-05,...,-0.000245,-0.000227,-0.000206,-0.000184,-0.000164,-1.480735e-04,-0.000139,-0.000138,1,1
1,865,0.000118,0.000036,-0.000029,-0.000074,-0.000103,-0.000116,-0.000115,-0.000103,-8.148489e-05,...,-0.000050,-0.000066,-0.000063,-0.000042,-0.000010,2.775487e-05,0.000061,0.000080,1,1
2,866,-0.000053,-0.000019,0.000013,0.000036,0.000049,0.000051,0.000042,0.000023,-2.487274e-06,...,-0.000041,-0.000057,-0.000058,-0.000046,-0.000024,3.926501e-06,0.000034,0.000063,1,1
3,867,-0.000018,0.000019,0.000053,0.000083,0.000103,0.000112,0.000110,0.000094,6.377543e-05,...,-0.000117,-0.000013,0.000102,0.000181,0.000198,1.319779e-04,-0.000024,-0.000203,1,1
4,868,0.000013,0.000022,0.000034,0.000043,0.000051,0.000053,0.000045,0.000026,2.431578e-08,...,0.000037,0.000033,0.000023,0.000011,-0.000002,-1.225500e-05,-0.000020,-0.000024,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,1308,0.001435,0.000968,0.000310,-0.000401,-0.000997,-0.001330,-0.001331,-0.001003,-3.847848e-04,...,-0.000011,0.000018,0.000038,0.000048,0.000047,3.538361e-05,0.000016,-0.000007,1,1
438,1309,0.000028,0.000044,0.000052,0.000049,0.000032,0.000008,-0.000018,-0.000039,-4.915296e-05,...,0.033988,0.035190,0.036265,0.037227,0.038089,3.885804e-02,0.039538,0.040141,1,1
439,1310,0.011552,0.012050,0.012596,0.013182,0.013800,0.014442,0.015098,0.015755,1.640346e-02,...,0.007315,0.006991,0.006661,0.006336,0.006024,5.736390e-03,0.005483,0.005273,1,1
440,1311,-0.023875,-0.022772,-0.021586,-0.020305,-0.018915,-0.017404,-0.015758,-0.013964,-1.201243e-02,...,0.000351,0.000441,0.000476,0.000466,0.000423,3.606234e-04,0.000293,0.000232,1,1
441,1312,-0.000189,-0.000191,-0.000194,-0.000200,-0.000207,-0.000215,-0.000223,-0.000229,-2.351280e-04,...,0.000015,0.000001,-0.000008,-0.000009,-0.000005,4.857650e-07,0.000004,0.000004,1,1

In [89]:
IMF_train_f_pd_concat_d1 = [pd.concat(new_IMF_pd_f_split_train_d1[i], axis = 0) for i in range(0,n_IMF)]
IMF_train_f_pd_concat_d1 = [IMF_train_f_pd_concat_d1[i].reset_index() for i in range(0,n_IMF)]

In [169]:
IMF_train_f_pd_concat_d1[4]

,level_0,index,col0,col1,col2,col3,col4,col5,col6,col7,...,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000,col5001
0,0,2,0.000035,0.000035,0.000034,0.000034,0.000034,0.000034,0.000034,0.000034,...,-0.000225,-0.000225,-0.000225,-0.000225,-0.000225,-0.000225,-0.000225,-0.000225,0,0
1,1,3,0.000136,0.000136,0.000136,0.000136,0.000136,0.000136,0.000137,0.000137,...,-0.000018,-0.000018,-0.000018,-0.000018,-0.000018,-0.000018,-0.000018,-0.000018,0,0
2,2,4,0.000144,0.000143,0.000143,0.000142,0.000142,0.000141,0.000141,0.000140,...,-0.006845,-0.006847,-0.006850,-0.006852,-0.006855,-0.006857,-0.006859,-0.006862,0,0
3,3,5,0.001107,0.001107,0.001107,0.001107,0.001107,0.001107,0.001106,0.001106,...,-0.003034,-0.003034,-0.003034,-0.003035,-0.003035,-0.003035,-0.003035,-0.003035,0,0
4,4,8,-0.001271,-0.001273,-0.001276,-0.001278,-0.001280,-0.001282,-0.001284,-0.001287,...,0.003281,0.003282,0.003283,0.003283,0.003284,0.003285,0.003285,0.003286,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,437,2745,-0.000813,-0.000813,-0.000812,-0.000812,-0.000811,-0.000811,-0.000810,-0.000809,...,-0.000131,-0.000131,-0.000130,-0.000130,-0.000130,-0.000130,-0.000130,-0.000130,0,3
1322,438,2746,0.000530,0.000531,0.000531,0.000532,0.000532,0.000533,0.000533,0.000534,...,-0.002002,-0.002003,-0.002004,-0.002005,-0.002007,-0.002008,-0.002009,-0.002010,0,3
1323,439,2747,0.002084,0.002083,0.002082,0.002081,0.002079,0.002078,0.002077,0.002076,...,0.000312,0.000312,0.000312,0.000312,0.000312,0.000312,0.000311,0.000311,0,3
1324,440,2749,-0.001196,-0.001196,-0.001196,-0.001195,-0.001195,-0.001195,-0.001194,-0.001194,...,0.000220,0.000220,0.000220,0.000220,0.000219,0.000219,0.000219,0.000219,0,3
1325,441,2750,-0.000363,-0.000363,-0.000363,-0.000363,-0.000363,-0.000363,-0.000363,-0.000363,...,-0.000116,-0.000116,-0.000116,-0.000116,-0.000117,-0.000117,-0.000117,-0.000117,0,3

In [168]:
1326/3

442.0

In [90]:
IMF_train_f_pd_concat_d1_0 = [IMF_train_f_pd_concat_d1[i].drop(['level_0', 'index', 'col5000', 'col5001'], axis=1) for i in range(0,n_IMF)]

In [91]:
# NOTE: To extract the trainiing set, even if the sets are of bigger dimensions, we still set the 80% equal to N_f
#       across the groups. 

per_train_pd_f = math.ceil(N_f * 0.8)
per_test_pd_f = math.ceil(N_f * 0.2)
print(per_train_pd_f, per_test_pd_f)

#Set see to reproduce the results
random.seed(1)

range_pd_f = range(0, IMF_train_f_pd_concat_d1_0[0].shape[0] )
range_pd_f_test = range(0, N_f)

rand_s_train_pd_f = random.sample(range_pd_f, k = per_train_pd_f)
rand_s_test_pd_f = random.sample(range_pd_f_test, k = per_test_pd_f)

print(random.random()) #0.1781548656443236

ind_train_pd_f = sorted(rand_s_train_pd_f) 
ind_test_pd_f = sorted(rand_s_test_pd_f)

354 89
0.1781548656443236

In [92]:
len(IMF_train_f_pd_concat_d1_0[4]) == len(range_pd_f)

True

In [93]:
IMF_train_f_pd_d1 = [IMF_train_f_pd_concat_d1_0[i].reset_index().loc[ind_train_pd_f] for i in range(0,n_IMF)]

0.1781548656443236

In [94]:
[IMF_train_f_pd_d1[i].shape  for i in range(0,n_IMF)]

[(354, 5001), (354, 5001), (354, 5001), (354, 5001), (354, 5001)]

In [175]:
IMF_train_f_pd_d1 = [IMF_train_f_pd_d1[i].drop(['index'], axis=1)  for i in range(0,n_IMF)]

In [176]:
[IMF_train_f_pd_d1[i].shape  for i in range(0,n_IMF)]

[(354, 5000), (354, 5000), (354, 5000), (354, 5000), (354, 5000)]

In [177]:
IMF_train_f_pd_d1 =[ IMF_train_f_pd_d1[i].values for i in range(0,n_IMF)]

In [178]:
[IMF_train_f_pd_d1[i].shape  for i in range(0,n_IMF)]

[(354, 5000), (354, 5000), (354, 5000), (354, 5000), (354, 5000)]

In [179]:
IMF_train_f_pd_d1[0]

array([[-6.30895533e-04, -6.57081999e-04,  6.79645296e-04, ...,
         2.42992887e-04, -1.15086057e-03, -2.04198187e-03],
       [ 2.46035646e-04, -1.66388805e-04, -2.13577839e-04, ...,
        -3.23510848e-04,  3.70733924e-04,  5.27641086e-04],
       [ 1.20741473e-04, -1.19581818e-04,  2.39508484e-05, ...,
         1.24018449e-04, -7.43532769e-05, -9.25097509e-05],
       ...,
       [-1.68926593e-04,  1.66747990e-04, -6.65778676e-05, ...,
        -2.36535886e-03, -3.04742531e-03, -5.43001197e-03],
       [ 9.19328560e-04, -8.94750472e-04, -1.17441881e-05, ...,
        -3.23963630e-04,  1.40090920e-04,  1.18627321e-04],
       [-2.01113287e-04, -2.91637569e-04,  2.77304924e-04, ...,
        -5.50115246e-03,  5.64374436e-03,  4.82443197e-03]])

In [122]:
IMF_test_pd_f_d1 = [new_IMF_pd_f_split_test_d1[i][0].reset_index().loc[ind_test_pd_f] for i in range(0,n_IMF)]

In [123]:
[IMF_test_pd_f_d1[i].shape for i in range(0,n_IMF)]

[(89, 5004), (89, 5004), (89, 5004), (89, 5004), (89, 5004)]

In [124]:
IMF_test_pd_f_d1 = [IMF_test_pd_f_d1[i].drop(['level_0', 'index', 'col5000', 'col5001'], axis=1) for i in range(0,n_IMF)]

In [125]:
[IMF_test_pd_f_d1[i].shape for i in range(0,n_IMF)]

[(89, 5000), (89, 5000), (89, 5000), (89, 5000), (89, 5000)]

In [126]:
IMF_test_pd_f_d1 = [IMF_test_pd_f_d1[i].values  for i in range(0,n_IMF)]

In [127]:
[IMF_test_pd_f_d1[i].shape for i in range(0,n_IMF)]

[(89, 5000), (89, 5000), (89, 5000), (89, 5000), (89, 5000)]

In [128]:
np.save('IMF_train_f_pd_0', IMF_test_pd_f_d1)

In [101]:
np.save('IMF_test_f_pd_3', IMF_test_pd_f_d1)

In [195]:
np.save('IMF_train_f_pd_d1', IMF_train_f_pd_d1)

In [196]:
np.save('IMF_test_pd_f_d1', IMF_test_pd_f_d1)

# APPLY THE SAME PROCEDURE THE HEALTHY PATIENTS

In [64]:
##################################################
#APPLY THE SAME PROCEDURE TO THE HEALTHY DATASETS#
##################################################

#################
#    FEMALE     #
#################

df_seg_descr_hc_f = pd.DataFrame([ final_index_pt_f_hc_train] ).T
df_seg_descr_hc_f.columns = ['Patient_N']
df_seg_descr_hc_f

       Patient_N
0              0
1              0
2              0
3              0
4              0
...          ...
15474         18
15475         18
15476         18
15477         18
15478         18

[15479 rows x 1 columns]

In [65]:
hc_df_f_seg = df_seg_descr_hc_f.groupby(['Patient_N']).size()
hc_df_f_seg = pd.DataFrame(hc_df_f_seg)
hc_df_f_seg

              0
Patient_N
0           895
1           908
2           578
3           854
4           641
5           695
6           777
7           682
8           884
9           791
10          636
11          951
12         1222
13         1026
14          897
15          809
16         1071
17          442
18          720

In [66]:
###############
#    MALE     #
###############

df_seg_descr_hc_m = pd.DataFrame([ final_index_pt_m_hc_train] ).T
df_seg_descr_hc_m.columns = ['Patient_N']
df_seg_descr_hc_m

      Patient_N
0             0
1             0
2             0
3             0
4             0
...         ...
1727          1
1728          1
1729          1
1730          1
1731          1

[1732 rows x 1 columns]

In [67]:
hc_df_m_seg = df_seg_descr_hc_m.groupby(['Patient_N']).size()
hc_df_m_seg = pd.DataFrame(hc_df_m_seg)
hc_df_m_seg

             0
Patient_N
0          784
1          948

### 3) Randomly select from each group (divided by patient number) 442/372 number of segments for the female/male case respectively 

--> NOTE THE MINIMUM NUMBER OF SEGMENTS FOR ONE OF THE PATIENTS IS 442 AND SO WE REDUCE TO THIS NUMBER ALSO THE SICK PATIENTS GROUPS

In [19]:
n_IMF = 5

In [75]:
#################
#    FEMALE     #
#################

IMF_train_hc_f_df = [pd.DataFrame(X_IMF_hc_f[i]) for i in range(0,n_IMF)]
final_index_pt_f_hc_train_df = pd.DataFrame(final_index_pt_f_hc_train)

IMF_train_f_hc_ind_df = [pd.concat([IMF_train_hc_f_df[i],
                                 final_index_pt_f_hc_train_df] , ignore_index= True, axis = 1) for i in range(0,n_IMF)]

In [76]:
col_list = ['col' + str(x) for x in range(0,IMF_train_f_hc_ind_df[0].shape[1])]
for i in range(0,n_IMF):
    IMF_train_f_hc_ind_df[i].columns = col_list

In [77]:
#I split them with respect to the patients 
IMF_train_f_hc_split_0 = [IMF_train_f_hc_ind_df[i].groupby('col5000') for i in range(0,n_IMF)]
IMF_train_f_hc_split = [[IMF_train_f_hc_split_0[i].get_group(x) for x in IMF_train_f_hc_split_0[i].groups] for i in range(0,n_IMF)]

In [78]:
n_seg_hc_f_split1 = [[len(IMF_train_f_hc_split[j][i]) for i in range(0, len(IMF_train_f_hc_split[j]))] for j in range(0,n_IMF)]
n_seg_hc_f_split1

[[895,
  908,
  578,
  854,
  641,
  695,
  777,
  682,
  884,
  791,
  636,
  951,
  1222,
  1026,
  897,
  809,
  1071,
  442,
  720],
 [895,
  908,
  578,
  854,
  641,
  695,
  777,
  682,
  884,
  791,
  636,
  951,
  1222,
  1026,
  897,
  809,
  1071,
  442,
  720],
 [895,
  908,
  578,
  854,
  641,
  695,
  777,
  682,
  884,
  791,
  636,
  951,
  1222,
  1026,
  897,
  809,
  1071,
  442,
  720],
 [895,
  908,
  578,
  854,
  641,
  695,
  777,
  682,
  884,
  791,
  636,
  951,
  1222,
  1026,
  897,
  809,
  1071,
  442,
  720],
 [895,
  908,
  578,
  854,
  641,
  695,
  777,
  682,
  884,
  791,
  636,
  951,
  1222,
  1026,
  897,
  809,
  1071,
  442,
  720]]

In [79]:
###############
#    MALE     #
###############

IMF_train_hc_m_df = [pd.DataFrame(X_IMF_hc_m[i]) for i in range(0,n_IMF)]
final_index_pt_m_hc_train_df = pd.DataFrame(final_index_pt_m_hc_train)

IMF_train_m_hc_ind_df = [pd.concat([IMF_train_hc_m_df[i],
                                 final_index_pt_m_hc_train_df] , ignore_index= True, axis = 1) for i in range(0,n_IMF)]

In [81]:
col_list = ['col' + str(x) for x in range(0,IMF_train_m_hc_ind_df[0].shape[1])]
for i in range(0,n_IMF):
    IMF_train_m_hc_ind_df[i].columns = col_list

In [82]:
#I split them with respect to the patients 
IMF_train_m_hc_split_0 = [IMF_train_m_hc_ind_df[i].groupby('col5000') for i in range(0,n_IMF)]
IMF_train_m_hc_split = [[IMF_train_m_hc_split_0[i].get_group(x) for x in IMF_train_m_hc_split_0[i].groups] for i in range(0,n_IMF)]

In [83]:
n_seg_hc_m_split1 = [[len(IMF_train_m_hc_split[j][i]) for i in range(0, len(IMF_train_m_hc_split[j]))] for j in range(0,n_IMF)]
n_seg_hc_m_split1

[[784, 948], [784, 948], [784, 948], [784, 948], [784, 948]]

In [84]:
n_seg_hc_m_split =  [len(IMF_train_m_hc_split[0][i]) for i in range(0, len(IMF_train_m_hc_split[0]))] 
n_seg_hc_m_split

[784, 948]

In [85]:
n_seg_hc_f_split = [len(IMF_train_f_hc_split[0][i]) for i in range(0, len(IMF_train_f_hc_split[0]))] 
n_seg_hc_f_split

[895,
 908,
 578,
 854,
 641,
 695,
 777,
 682,
 884,
 791,
 636,
 951,
 1222,
 1026,
 897,
 809,
 1071,
 442,
 720]

In [86]:
ind_hc_f = [range(0,n_seg_hc_f_split[i]) for i in range(0, len(n_seg_hc_f_split))]
ind_hc_m = [range(0,n_seg_hc_m_split[i]) for i in range(0, len(n_seg_hc_m_split))]

ind_hc_m

[range(0, 784), range(0, 948)]

In [87]:
min_f = 442
min_m = 372

In [88]:
N_f = min_f
N_m = min_m

In [89]:
#NOTE: I KEPT min_n and new_min_f 
random.seed(1)

rand_ind_hc_m = [random.sample( ind_hc_m[i],  k = N_m) for i in range(0, len(ind_hc_m))]
rand_ind_hc_f = [random.sample( ind_hc_f[i],  k = N_f) for i in range(0, len(ind_hc_f))]

print(random.random())#0.9970099255930638

0.9970099255930638

In [90]:
#check
[len(rand_ind_hc_m[i]) for i in range(0, len(rand_ind_hc_m))]

[372, 372]

In [91]:
#check
[len(rand_ind_hc_f[i]) for i in range(0, len(rand_ind_hc_f))]

[442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442,
 442]

In [92]:
len(rand_ind_hc_f)

19

In [93]:
rand_ind_hc_sorted_f = [sorted(rand_ind_hc_f[i]) for i in range(0,len(rand_ind_hc_f))]
rand_ind_hc_sorted_m = [sorted(rand_ind_hc_m[i]) for i in range(0,len(rand_ind_hc_m))]

In [94]:
IMF_hc_f_split = [[IMF_train_f_hc_split[j][i].iloc[rand_ind_hc_sorted_f[i], :].reset_index() for i in range(0, len(IMF_train_f_hc_split[j]))] for j in range(0,n_IMF)]
IMF_hc_m_split = [[IMF_train_m_hc_split[j][i].iloc[rand_ind_hc_sorted_m[i], :].reset_index() for i in range(0, len(IMF_train_m_hc_split[j]))] for j in range(0,n_IMF)]

In [459]:
#check
[[len(IMF_hc_f_split[j][i]) for i in range(0, len(IMF_hc_f_split[j]))] for j in range(0,n_IMF)]

[[442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442],
 [442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442],
 [442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442],
 [442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442],
 [442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442,
  442]]

In [460]:
#check
[[len(IMF_hc_m_split[j][i]) for i in range(0, len(IMF_hc_m_split[j]))] for j in range(0,n_IMF)]

[[372, 372], [372, 372], [372, 372], [372, 372], [372, 372]]

### 4) Randomly select one one speaker to leave out for the testing set

In [ ]:
######################################################################
#NOW RANDOMLY SELECT ONE SPEAKER FOR THE LEAVE ONE OUT IN EACH HC SET#
######################################################################

In [95]:
hc_df_m = pd.DataFrame( np.array([[ 0 ], 
                        [ 1 ] ]),                      
         columns =  ["Patient_N"])

hc_df_m

   Patient_N
0          0
1          1

In [96]:
hc_df_f = pd.DataFrame( np.array([[ 0 ], 
                        [ 1 ], 
                        [ 2 ],
                        [ 3 ], 
                        [ 4 ],
                        [ 5 ],
                        [ 6 ], 
                        [ 7 ],
                        [ 8 ],
                        [ 9 ],
                        [ 10 ], 
                        [ 11 ],
                        [ 12 ],
                        [ 13 ],
                        [ 14 ],
                        [ 15 ],
                        [ 16 ],
                        [ 17 ],
                        [ 18 ]   ]),                      
         columns = [ "Patient_N"])

hc_df_f

    Patient_N
0           0
1           1
2           2
3           3
4           4
5           5
6           6
7           7
8           8
9           9
10         10
11         11
12         12
13         13
14         14
15         15
16         16
17         17
18         18

In [97]:
np.random.seed(1)

test_patients_hc_m = hc_df_m.sample(frac = 1.0).head(1)
test_patients_hc_m

   Patient_N
0          0

In [98]:
np.random.seed(40)# I already got 10,3,9,12,6,2,5,1,14,18,11,15,13,7,0,8,17

test_patients_hc_f = hc_df_f.sample(frac = 1.0).head(1)
test_patients_hc_f

    Patient_N
16         16

In [588]:
new_IMF_hc_f_split_train = [list(IMF_hc_f_split[i]) for i in range(0,n_IMF)]
new_IMF_hc_f_split_train = [[i for j, i in enumerate(new_IMF_hc_f_split_train[h]) if j not in np.array(test_patients_hc_f["Patient_N"])] for h in range(0,n_IMF)]

In [572]:
len(new_IMF_hc_f_split_train)

5

In [573]:
len(new_IMF_hc_f_split_train[0])

18

In [496]:
#chekc that the left patients are 0,1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18
[[set(new_IMF_hc_f_split_train[j][i]['col5000']) for i in range(0,len(new_IMF_hc_f_split_train[j]))] for j in range(0,n_IMF)]

[[{0},
  {1},
  {2},
  {4},
  {5},
  {6},
  {7},
  {8},
  {9},
  {10},
  {11},
  {12},
  {13},
  {14},
  {15},
  {16},
  {17},
  {18}],
 [{0},
  {1},
  {2},
  {4},
  {5},
  {6},
  {7},
  {8},
  {9},
  {10},
  {11},
  {12},
  {13},
  {14},
  {15},
  {16},
  {17},
  {18}],
 [{0},
  {1},
  {2},
  {4},
  {5},
  {6},
  {7},
  {8},
  {9},
  {10},
  {11},
  {12},
  {13},
  {14},
  {15},
  {16},
  {17},
  {18}],
 [{0},
  {1},
  {2},
  {4},
  {5},
  {6},
  {7},
  {8},
  {9},
  {10},
  {11},
  {12},
  {13},
  {14},
  {15},
  {16},
  {17},
  {18}],
 [{0},
  {1},
  {2},
  {4},
  {5},
  {6},
  {7},
  {8},
  {9},
  {10},
  {11},
  {12},
  {13},
  {14},
  {15},
  {16},
  {17},
  {18}]]

In [589]:
new_IMF_hc_m_split_train = [list(IMF_hc_m_split[i]) for i in range(0,n_IMF)]
new_IMF_hc_m_split_train = [[i for j, i in enumerate(new_IMF_hc_m_split_train[h]) if j not in np.array(test_patients_hc_m["Patient_N"])] for h in range(0,n_IMF)]

In [498]:
len(new_IMF_hc_m_split_train)

5

In [499]:
len(new_IMF_hc_m_split_train[0])

1

In [500]:
#chekc that the left patients is number 0
[set(new_IMF_hc_m_split_train[i][0]['col5000'] ) for i in range(0,n_IMF)]

[{1}, {1}, {1}, {1}, {1}]

In [83]:
new_IMF_hc_f_split_test = [list(IMF_hc_f_split[i]) for i in range(0,n_IMF)]
new_IMF_hc_f_split_test = [[i for j, i in enumerate(new_IMF_hc_f_split_test[h]) if j in np.array(test_patients_hc_f["Patient_N"])] for h in range(0,n_IMF)]

In [502]:
len(new_IMF_hc_f_split_test)

5

In [503]:
len(new_IMF_hc_f_split_test[0])

1

In [84]:
 #chekc that the left patient is number 10
[set(new_IMF_hc_f_split_test[i][0]['col5000']) for i in range(0,n_IMF)]

[{16}, {16}, {16}, {16}, {16}]

In [699]:
new_IMF_hc_m_split_test = [list(IMF_hc_m_split[i]) for i in range(0,n_IMF)]
new_IMF_hc_m_split_test = [[i for j, i in enumerate(new_IMF_hc_m_split_test[h]) if j in np.array(test_patients_hc_m["Patient_N"])] for h in range(0,n_IMF)]

In [67]:
len(new_IMF_hc_m_split_test)

5

In [68]:
len(new_IMF_hc_m_split_test[0])

1

In [701]:
#chekc that the left patient is 1
[set(new_IMF_hc_m_split_test[i][0]['col5000']) for i in range(0,n_IMF)]

[{0}, {0}, {0}, {0}, {0}]

### 5) Extract 80% of the data for the traning set and 20% of the data for the testing

In [ ]:
################
#     MALE     #
################

In [107]:
new_IMF_hc_m_split_train[0][0] # I extract 80% of 372 --> 298

,index,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col4991,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000
0,1,0.000157,-0.000058,-0.000321,0.000319,0.000175,-0.000304,0.000008,0.000267,-0.000005,...,-0.000167,0.000209,-0.000236,-0.000095,0.000062,0.000074,0.000209,-0.000200,-0.000109,0
1,2,0.000037,0.000182,-0.000182,-0.000125,0.000176,-0.000057,-0.000166,0.000166,0.000175,...,-0.000137,0.000088,0.000246,-0.000286,-0.000030,0.000326,-0.000246,-0.000331,0.000110,0
2,5,-0.010652,-0.009210,-0.007053,-0.005070,-0.003416,-0.002492,-0.001629,0.000726,0.004081,...,0.003444,-0.001375,-0.004084,-0.001660,0.001527,0.004091,-0.002782,-0.003957,0.001883,0
3,6,-0.003337,-0.002157,0.002516,0.005737,0.001667,-0.005639,-0.000435,0.005359,0.003276,...,-0.000976,0.002595,0.003690,0.001009,-0.000594,-0.001670,-0.002738,-0.003315,-0.003310,0
4,7,0.000115,0.000014,-0.000341,0.000861,0.000099,-0.002252,-0.002544,-0.001035,0.001688,...,-0.000080,-0.000028,0.000105,-0.000100,-0.000125,0.000134,0.000133,0.000086,-0.000011,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,779,-0.001920,-0.001307,-0.000538,0.000230,0.001268,0.001720,0.001826,0.001769,0.001449,...,0.000017,0.000038,-0.000048,0.000034,0.000092,0.000052,-0.000135,0.000067,0.000151,0
368,780,-0.000293,0.000061,0.000274,0.000113,-0.000206,0.000033,0.000075,0.000087,-0.000081,...,0.000791,0.000872,-0.000118,-0.000655,-0.000326,0.000284,0.000442,-0.000420,0.000324,0
369,781,0.000398,-0.000395,-0.000005,0.000241,0.000350,-0.000332,0.000321,-0.000325,0.000332,...,-0.000517,0.000023,0.000433,0.000415,0.000034,-0.000187,-0.000302,-0.000130,-0.000122,0
370,782,-0.000080,-0.000072,0.000101,-0.000154,0.000037,0.000174,0.000293,0.000434,-0.000478,...,-0.000024,0.000014,0.000046,0.000028,-0.000028,0.000025,-0.000025,0.000027,-0.000027,0
371,783,0.000132,0.000132,0.000095,-0.000123,0.000114,-0.000054,-0.000087,-0.000060,0.000061,...,-0.000079,-0.000113,0.000063,0.000104,-0.000103,-0.000092,0.000109,-0.000009,-0.000113,0

In [108]:
new_IMF_hc_m_split_test[0][0] # from this one I extract 20% of 372 --> 75

,index,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col4991,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000
0,784,-0.000090,0.000092,-0.000092,0.000095,0.000086,0.000005,-0.000063,-0.000123,0.000135,...,0.000125,-0.000070,-0.000147,0.000153,-0.000157,0.000158,-0.000147,-0.000159,-0.000140,1
1,787,0.000117,-0.000117,0.000011,0.000128,-0.000144,0.000108,0.000198,0.000213,-0.000227,...,0.000095,0.000097,0.000222,-0.000214,0.000229,0.000087,-0.000289,0.000306,0.000253,1
2,788,-0.000244,0.000147,0.000219,-0.000181,0.000144,-0.000139,0.000162,0.000005,-0.000157,...,0.002204,-0.001891,-0.001111,0.001482,-0.001329,-0.000382,0.001099,-0.001051,-0.000521,1
3,791,0.074762,-0.012859,-0.073988,-0.050181,0.033522,0.068835,0.057904,-0.011619,-0.058919,...,-0.000868,-0.000341,0.000979,-0.000208,-0.001083,0.000188,0.000245,0.000906,0.001176,1
4,794,-0.002340,-0.001488,0.002204,-0.000629,-0.001791,0.001533,-0.000488,-0.001208,0.001259,...,0.000368,0.000408,-0.000320,0.000271,-0.000273,0.000316,-0.000299,-0.000421,0.000440,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,1721,0.000077,0.000072,-0.000100,-0.000067,-0.000063,0.000055,0.000275,-0.000289,0.000065,...,0.000237,-0.000224,0.000196,-0.000160,0.000126,-0.000104,0.000017,0.000092,0.000045,1
368,1723,0.000365,-0.000362,0.000073,0.000329,-0.000298,0.000260,-0.000223,0.000050,0.000193,...,0.000442,-0.000451,-0.000144,0.000367,-0.000201,-0.000268,-0.000028,0.000230,0.000239,1
369,1725,-0.000576,-0.000344,0.000058,0.000423,0.000515,0.000488,0.000317,0.000027,-0.000303,...,-0.000371,0.000027,0.000063,0.000285,-0.000286,0.000336,0.000361,-0.000397,0.000411,1
370,1729,0.000087,-0.000466,0.000494,-0.000550,0.000611,-0.000641,0.000620,-0.000554,0.000039,...,0.000368,-0.000468,0.000547,-0.000576,0.000443,0.000522,-0.000486,0.000468,-0.000387,1
371,1730,0.000235,-0.000232,-0.000159,0.000218,-0.000215,-0.000061,0.000225,0.000107,0.000018,...,0.000108,-0.000138,0.000172,-0.000207,0.000103,0.000266,-0.000282,-0.000026,0.000214,1

In [507]:
# NOTE: To extract the trainiing set, even if the sets are of bigger dimensions, we still set the 80% equal to N_m
#       across the groups.

per_train_pd_m = math.ceil(N_m * 0.8)
per_test_pd_m = math.ceil(N_m * 0.2)
print(per_train_pd_m, per_test_pd_m)

298 75

In [508]:
#Set see to reproduce the results
random.seed(1)

range_pd_m = range(0, N_m )
range_pd_m_test = range(0, N_m)

rand_s_train_pd_m = random.sample(range_pd_m, k = per_train_pd_m)
rand_s_test_pd_m = random.sample(range_pd_m_test, k = per_test_pd_m)

print(random.random()) #0.25006282489890796

0.25006282489890796

In [514]:
ind_train_pd_m = sorted(rand_s_train_pd_m) 
ind_test_pd_m = sorted(rand_s_test_pd_m)

In [515]:
IMF_train_m_hc = [new_IMF_hc_m_split_train[i][0].reset_index().loc[ind_train_pd_m] for i in range(0,n_IMF)]

In [516]:
[IMF_train_m_hc[i].shape for i in range(0,n_IMF)]

[(298, 5003), (298, 5003), (298, 5003), (298, 5003), (298, 5003)]

In [517]:
IMF_train_m_hc = [IMF_train_m_hc[i].drop(['index', 'level_0', 'col5000'], axis=1) for i in range(0,n_IMF)]

In [518]:
[IMF_train_m_hc[i].shape for i in range(0,n_IMF)]

[(298, 5000), (298, 5000), (298, 5000), (298, 5000), (298, 5000)]

In [519]:
IMF_train_m_hc = [IMF_train_m_hc[i].values  for i in range(0,n_IMF)]

In [520]:
[IMF_train_m_hc[i].shape for i in range(0,n_IMF)]

[(298, 5000), (298, 5000), (298, 5000), (298, 5000), (298, 5000)]

In [521]:
IMF_test_hc_m  = [new_IMF_hc_m_split_test[i][0].reset_index().loc[ind_test_pd_m] for i in range(0,n_IMF)]

In [522]:
[IMF_test_hc_m[i].shape for i in range(0,n_IMF)]

[(75, 5003), (75, 5003), (75, 5003), (75, 5003), (75, 5003)]

In [523]:
IMF_test_hc_m = [IMF_test_hc_m[i].drop(['level_0', 'index', 'col5000'], axis=1)  for i in range(0,n_IMF)]

In [524]:
[IMF_test_hc_m[i].shape for i in range(0,n_IMF)]

[(75, 5000), (75, 5000), (75, 5000), (75, 5000), (75, 5000)]

In [525]:
IMF_test_hc_m = [IMF_test_hc_m[i].values  for i in range(0,n_IMF)]

In [526]:
[IMF_test_hc_m[i].shape for i in range(0,n_IMF)]

[(75, 5000), (75, 5000), (75, 5000), (75, 5000), (75, 5000)]

In [527]:
np.save('IMF_train_m_hc_0', IMF_train_m_hc)

In [127]:
np.save('IMF_train_m_hc', IMF_train_m_hc)

In [128]:
np.save('IMF_test_hc_m', IMF_test_hc_m)

In [ ]:
##################
#     FEMALE     #
##################

In [70]:
new_IMF_hc_f_split_train[0][17] # I merge all of these and then extract 80% of 442 --> 354

,index,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col4991,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000
0,14760,-0.000247,0.000247,0.000209,-0.000227,0.000203,-1.755846e-04,0.000058,0.000163,-0.000201,...,-0.000245,0.000315,-0.000397,-0.000376,0.000527,-0.000357,-0.000584,0.000408,0.000527,18
1,14763,0.000169,-0.000166,0.000041,0.000155,-0.000152,-8.957882e-05,0.000167,-0.000185,0.000187,...,0.001820,0.000656,-0.001429,-0.001421,0.001329,0.001193,0.000109,-0.000665,-0.000685,18
2,14764,0.001006,0.001527,-0.000191,-0.001460,-0.001008,1.270988e-03,0.000922,-0.000409,-0.000907,...,0.006729,-0.004604,0.001413,0.005758,-0.007884,0.006899,0.011718,-0.008997,-0.013036,18
3,14765,0.006906,0.006733,-0.007409,-0.006779,0.003248,1.103336e-02,-0.006924,-0.012224,0.000552,...,-0.000757,-0.001573,0.000747,0.001688,0.001504,0.000376,-0.000911,-0.001744,-0.000642,18
4,14766,0.000602,-0.000598,0.000585,-0.000223,-0.000529,4.804689e-04,-0.000200,-0.000328,0.000228,...,-0.000544,0.000244,0.000375,-0.000292,-0.000267,0.000182,-0.000158,-0.000143,0.000125,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,15468,-0.000026,-0.000086,-0.000026,0.000089,-0.000092,-6.644881e-05,0.000087,-0.000074,-0.000030,...,-0.000046,0.000109,-0.000002,-0.000040,-0.000127,0.000130,-0.000132,-0.000002,0.000062,18
438,15469,-0.000086,0.000084,-0.000078,0.000072,-0.000070,1.112311e-05,0.000082,-0.000092,0.000101,...,0.000106,-0.000135,0.000160,0.000267,-0.000395,-0.000392,0.000109,0.000382,0.000460,18
439,15473,-0.000009,-0.000011,0.000106,-0.000051,-0.000128,1.440100e-04,-0.000155,0.000158,-0.000013,...,0.000145,0.000049,-0.000012,-0.000128,-0.000106,0.000115,-0.000086,-0.000110,0.000022,18
440,15474,0.000022,0.000044,0.000046,-0.000050,0.000058,5.144449e-07,-0.000084,0.000099,0.000116,...,-0.000113,-0.000008,0.000099,-0.000092,-0.000014,0.000081,0.000039,-0.000078,0.000067,18
441,15478,0.000241,0.000221,-0.000321,-0.000327,0.000338,2.717160e-04,-0.000372,-0.000105,0.000381,...,-0.000153,0.000396,-0.000120,-0.000396,0.000383,-0.000372,-0.000200,0.000362,-0.000099,18

In [71]:
new_IMF_hc_f_split_test[i][0] # from this one I extract 20% of 442 --> 89

,index,col0,col1,col2,col3,col4,col5,col6,col7,col8,...,col4991,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000
0,7705,0.001639,0.001640,0.001642,0.001643,0.001644,0.001646,0.001647,0.001649,0.001650,...,-0.003662,-0.003662,-0.003662,-0.003662,-0.003661,-0.003661,-0.003661,-0.003661,-0.003661,10
1,7706,-0.003592,-0.003589,-0.003586,-0.003584,-0.003581,-0.003579,-0.003576,-0.003573,-0.003571,...,0.002928,0.002929,0.002930,0.002930,0.002931,0.002931,0.002932,0.002933,0.002933,10
2,7708,-0.001012,-0.001010,-0.001009,-0.001007,-0.001005,-0.001003,-0.001002,-0.001000,-0.000998,...,0.001013,0.001014,0.001015,0.001016,0.001016,0.001017,0.001018,0.001019,0.001020,10
3,7710,-0.001404,-0.001403,-0.001402,-0.001402,-0.001401,-0.001400,-0.001400,-0.001399,-0.001398,...,-0.000395,-0.000396,-0.000397,-0.000397,-0.000398,-0.000398,-0.000399,-0.000399,-0.000400,10
4,7712,-0.000254,-0.000253,-0.000251,-0.000249,-0.000248,-0.000246,-0.000245,-0.000243,-0.000241,...,0.000458,0.000459,0.000459,0.000460,0.000461,0.000462,0.000463,0.000464,0.000465,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,8334,-0.000282,-0.000282,-0.000282,-0.000282,-0.000282,-0.000282,-0.000282,-0.000282,-0.000282,...,-0.000163,-0.000163,-0.000163,-0.000164,-0.000164,-0.000164,-0.000164,-0.000165,-0.000165,10
438,8335,-0.000098,-0.000098,-0.000098,-0.000098,-0.000098,-0.000098,-0.000098,-0.000097,-0.000097,...,-0.000253,-0.000254,-0.000254,-0.000254,-0.000254,-0.000254,-0.000255,-0.000255,-0.000255,10
439,8336,-0.000345,-0.000345,-0.000345,-0.000345,-0.000345,-0.000345,-0.000345,-0.000345,-0.000345,...,-0.000230,-0.000230,-0.000230,-0.000230,-0.000230,-0.000230,-0.000230,-0.000230,-0.000230,10
440,8338,-0.000742,-0.000741,-0.000740,-0.000739,-0.000739,-0.000738,-0.000737,-0.000736,-0.000736,...,0.000351,0.000352,0.000352,0.000353,0.000354,0.000354,0.000355,0.000355,0.000356,10
441,8340,0.000545,0.000545,0.000545,0.000545,0.000545,0.000545,0.000545,0.000545,0.000545,...,0.000145,0.000145,0.000145,0.000145,0.000145,0.000145,0.000145,0.000145,0.000145,10

In [533]:
IMF_train_f_hc_concat = [pd.concat(new_IMF_hc_f_split_train[i], axis = 0) for i in range(0,n_IMF)]
IMF_train_f_hc_concat = [IMF_train_f_hc_concat[i].reset_index() for i in range(0,n_IMF)]

MemoryError: Unable to allocate 303. MiB for an array with shape (5000, 7956) and data type float64

In [135]:
IMF_train_f_hc_concat[0]

,level_0,index,col0,col1,col2,col3,col4,col5,col6,col7,...,col4991,col4992,col4993,col4994,col4995,col4996,col4997,col4998,col4999,col5000
0,0,5,-0.000062,-0.000049,0.000033,0.000056,-0.000052,4.891576e-05,-0.000048,0.000019,...,0.000102,0.000074,-0.000099,0.000097,0.000049,-0.000095,0.000041,0.000095,-0.000077,0
1,1,8,0.000077,-0.000330,-0.000206,0.000345,-0.000360,3.710202e-04,-0.000365,0.000205,...,-0.000092,-0.000115,-0.000128,-0.000165,0.000140,-0.000110,0.000086,-0.000074,-0.000001,0
2,2,10,-0.000106,-0.000058,0.000105,-0.000080,-0.000100,2.132747e-05,0.000089,-0.000079,...,-0.001801,-0.001004,0.001671,0.000913,-0.001673,-0.000632,0.001724,0.001275,-0.001751,0
3,3,11,0.000095,-0.000083,-0.000085,0.000074,-0.000066,6.875441e-05,0.000026,-0.000107,...,0.000021,-0.000055,0.000048,-0.000095,0.000149,-0.000146,0.000100,-0.000075,0.000083,0
4,4,14,-0.000011,-0.000072,0.000074,-0.000005,-0.000082,8.739305e-05,-0.000096,-0.000097,...,-0.000353,-0.000567,-0.000353,-0.000028,0.000618,0.000069,-0.000664,-0.000696,0.000704,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7951,437,15468,-0.000026,-0.000086,-0.000026,0.000089,-0.000092,-6.644881e-05,0.000087,-0.000074,...,-0.000046,0.000109,-0.000002,-0.000040,-0.000127,0.000130,-0.000132,-0.000002,0.000062,18
7952,438,15469,-0.000086,0.000084,-0.000078,0.000072,-0.000070,1.112311e-05,0.000082,-0.000092,...,0.000106,-0.000135,0.000160,0.000267,-0.000395,-0.000392,0.000109,0.000382,0.000460,18
7953,439,15473,-0.000009,-0.000011,0.000106,-0.000051,-0.000128,1.440100e-04,-0.000155,0.000158,...,0.000145,0.000049,-0.000012,-0.000128,-0.000106,0.000115,-0.000086,-0.000110,0.000022,18
7954,440,15474,0.000022,0.000044,0.000046,-0.000050,0.000058,5.144449e-07,-0.000084,0.000099,...,-0.000113,-0.000008,0.000099,-0.000092,-0.000014,0.000081,0.000039,-0.000078,0.000067,18
7955,441,15478,0.000241,0.000221,-0.000321,-0.000327,0.000338,2.717160e-04,-0.000372,-0.000105,...,-0.000153,0.000396,-0.000120,-0.000396,0.000383,-0.000372,-0.000200,0.000362,-0.000099,18

In [534]:
7956/442

18.0

In [529]:
IMF_train_f_hc_concat_0 = [IMF_train_f_hc_concat[i].drop(['level_0', 'index', 'col5000'], axis=1) for i in range(0,n_IMF)]

KeyError: "['level_0'] not found in axis"

In [86]:
# NOTE: To extract the trainiing set, even if the sets are of bigger dimensions, we still set the 80% equal to N_m
#       across the groups. 

per_train_hc_f = math.ceil(N_f * 0.8)
per_test_hc_f = math.ceil(N_f * 0.2)
print(per_train_hc_f, per_test_hc_f)

354 89

In [87]:
#Set see to reproduce the results
random.seed(1)

range_hc_f_test = range(0, N_m)

rand_s_test_hc_f = random.sample(range_hc_f_test, k = per_test_hc_f)

print(random.random()) #0.4577692590412453

ind_test_hc_f = sorted(rand_s_test_hc_f)

0.5022385584334831

In [541]:
#Set see to reproduce the results
random.seed(1)

range_hc_f = range(0, IMF_train_f_hc_concat_0[0].shape[0] )
range_hc_f_test = range(0, N_m)

rand_s_train_hc_f = random.sample(range_hc_f, k = per_train_hc_f)
rand_s_test_hc_f = random.sample(range_hc_f_test, k = per_test_hc_f)

print(random.random()) #0.4577692590412453

NameError: name 'IMF_train_f_hc_concat_0' is not defined

In [542]:
len(IMF_train_f_hc_concat[0]) == len(range_hc_f)

NameError: name 'range_hc_f' is not defined

In [546]:
ind_train_hc_f = sorted(rand_s_train_hc_f)

NameError: name 'rand_s_train_hc_f' is not defined

In [78]:
IMF_train_f_hc_concat_0 = [IMF_train_f_hc_concat[i].drop(['level_0', 'index', 'col5000'], axis  = 1) for i in range(0,n_IMF)]

In [79]:
IMF_train_f_hc = [IMF_train_f_hc_concat_0[i].reset_index().loc[ind_train_hc_f]  for i in range(0,n_IMF)]

In [80]:
IMF_train_f_hc = [IMF_train_f_hc[i].drop(['index'], axis = 1) for i in range(0,n_IMF)]

In [81]:
[IMF_train_f_hc[i].shape for i in range(0,n_IMF)]

[(354, 5000), (354, 5000), (354, 5000), (354, 5000), (354, 5000)]

In [82]:
IMF_train_f_hc = [IMF_train_f_hc[i].values for i in range(0,n_IMF)]

In [83]:
[IMF_train_f_hc[i].shape for i in range(0,n_IMF)]

[(354, 5000), (354, 5000), (354, 5000), (354, 5000), (354, 5000)]

In [88]:
IMF_test_hc_f = [new_IMF_hc_f_split_test[i][0].reset_index().loc[ind_test_hc_f] for i in range(0,n_IMF)]

In [89]:
[IMF_test_hc_f[i].shape for i in range(0,n_IMF)]

[(89, 5003), (89, 5003), (89, 5003), (89, 5003), (89, 5003)]

In [90]:
IMF_test_hc_f = [IMF_test_hc_f[i].drop(['level_0', 'index', 'col5000'], axis=1) for i in range(0,n_IMF)]

In [91]:
[IMF_test_hc_f[i].shape for i in range(0,n_IMF)]

[(89, 5000), (89, 5000), (89, 5000), (89, 5000), (89, 5000)]

In [92]:
IMF_test_hc_f = [IMF_test_hc_f[i].values  for i in range(0,n_IMF)]

In [93]:
[IMF_test_hc_f[i].shape for i in range(0,n_IMF)]

[(89, 5000), (89, 5000), (89, 5000), (89, 5000), (89, 5000)]

In [555]:
np.save('IMF_test_hc_f_3', IMF_test_hc_f)

In [569]:
np.save('IMF_test_hc_f_9', IMF_test_hc_f)

In [585]:
np.save('IMF_test_hc_f_12', IMF_test_hc_f)

In [597]:
np.save('IMF_test_hc_f_6', IMF_test_hc_f)

In [607]:
np.save('IMF_test_hc_f_2', IMF_test_hc_f)

In [619]:
np.save('IMF_test_hc_f_5', IMF_test_hc_f)

In [629]:
np.save('IMF_test_hc_f_1', IMF_test_hc_f)

In [639]:
np.save('IMF_test_hc_f_14', IMF_test_hc_f)

In [652]:
np.save('IMF_test_hc_f_18', IMF_test_hc_f)

In [662]:
np.save('IMF_test_hc_f_11', IMF_test_hc_f)

In [672]:
np.save('IMF_test_hc_f_15', IMF_test_hc_f)

In [683]:
np.save('IMF_test_hc_f_13', IMF_test_hc_f)

In [720]:
np.save('IMF_test_hc_f_7', IMF_test_hc_f)

In [731]:
np.save('IMF_test_hc_f_0', IMF_test_hc_f)

In [744]:
np.save('IMF_test_hc_f_8', IMF_test_hc_f)

In [764]:
np.save('IMF_test_hc_f_17', IMF_test_hc_f)

In [791]:
np.save('IMF_test_hc_f_4', IMF_test_hc_f)

In [94]:
np.save('IMF_test_hc_f_16', IMF_test_hc_f)

In [160]:
np.save('IMF_train_f_hc', IMF_train_f_hc)

In [91]:
np.save('IMF_test_hc_f', IMF_test_hc_f)